<!DOCTYPE html>
<html>
    
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>About | Wellness Music Therapy Center | Lexington, KY</title>
	<meta name="description" content="Wellness Music Therapy Center was founded by Amber Colliver. Our goal is to promote wellness through music in all aspects of life.">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="robots" content="follow,index">

	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/ie8.min.js"></script>			
	<![endif]-->

	<meta name="google-site-verification" content="Ze0jeH6ePeKVYYT3QXmLQVMgZ4nFMEqYwbOv8LZ3PPY" />
	<meta name="msvalidate.01" content="86278C5303ED8D604C520878E06E885F" />
</head>

	<body id="body">    

		<nav class="menu">
	<a href="/"><img class="menu-logo" src="/assets/Wellness-Music-Therapy-Center-Logo.png" alt="Wellness Music Therapy Center Logo"></a>

	<div class="menu-info">
		
			<a class="button button--menuTop" href="tel:+18592874111">859.287.4111</a>       
		
			<a class="button button--menuTop" href="mailto:amber@wellnessmtc.com">amber@wellnessmtc.com</a>       
		
	</div>

	<div class="menu-icons">
		
			<a class="button button--menuIcons" href="tel:+18592874111"><span class="fa fa-phone"></span></a>
		
			<a class="button button--menuIcons" href="mailto:amber@wellnessmtc.com"><span class="fa fa-envelope"></span></a>
		

		<a class="button" id="menu" onclick="menu()" class="menu-link">menu</a>
	</div>

	<div class="menu-links">
		
			<a href="/" class="button button--menuBottom">Home</a>
		
			<a href="/about" class="button button--menuBottom">About</a>
		
			<a href="/services" class="button button--menuBottom">Services</a>
		
			<a href="/register" class="button button--menuBottom">Register</a>
		
			<a href="/contact" class="button button--menuBottom">Contact</a>
		
	</div>
</nav>

<script type="text/javascript">
	function menu () {
		var body = 	document.getElementById("body");
		if (body.className === '') {
			body.className = 'menu_state-active';
		} else {
			body.className = '';
		}
	}
</script>

		<div class="wrapper">
			<section class="hero hero--default">
	<h1>About</h1>
</section>

<section class="utility-padTop">
	<div class="layout-row">
		<div class="layout-grid layout-sm12 layout-md6 layout-lg6 utility-marBot">
			<h2>Music Therapy</h2>
			<p>
				Music therapy is the “clinical and evidence-based use of music interventions to accomplish individualized goals within a therapeutic relationship by a credentialed professional who has completed an approved music therapy program” (American Music Therapy Association). Music therapists work in a variety of different settings such as hospitals, schools, rehabilitation facilities, mental health centers, and nursing homes. The goals of a music therapy session depend on the specific needs of the patient and may be addressed through a number of interventions such as songwriting, receptive music listening, lyric analysis, and movement to music.
			</p>
		</div>
		<div class="layout-grid layout-sm12 layout-md6 layout-lg6 utility-marBot">
			<h2>Goals</h2>
			<div class="layout-row layout--spacingQuarter">
				<ul class="layout-block layout-sm1 layout-md2 layout-lg2">
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Increase communication</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Enhance memory</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Increase social interaction</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Promote wellness</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Increase self-expression</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Decrease pain perception</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Improve motor skills</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Increase on-task behavior</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Reduce stress</span>
						</li>
					
						<li ng-repeat="item in content.goalsList track by $index" class="layout-blockItem layout-blockItemSmall">
							<span class="utility-item">Improve academics</span>
						</li>
					
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="utility-backgroundImage utility-padVert utility-padHoriz" style="background-image: url('/assets/Blurred-Background.jpg');">
	<div class="utility-marAuto utility-maxWidth utility-backgroundPrimary utility-padVert utility-padHoriz utility-textLight utility-textCenter">
		<h2 class="utility-textCenter utility-textDark utility-marNone">Who Benefits from Music Therapy</h2>
		<small class="utility-textCenter utility-textDark utility-block utility-marBotHalf">
			People of all ages and abilities can benefit from music therapy including the following populations and conditions:
		</small>
		
			<small class="utility-tag">Alzheimer's & Dementia</small>
		
			<small class="utility-tag">ADD & ADHD</small>
		
			<small class="utility-tag">Autism</small>
		
			<small class="utility-tag">Acute or Chronic Pain</small>
		
			<small class="utility-tag">Bereavement</small>
		
			<small class="utility-tag">Caregivers</small>
		
			<small class="utility-tag">Developmental Disabilities</small>
		
			<small class="utility-tag">Hospice Care</small>
		
			<small class="utility-tag">School-Aged Children</small>
		
			<small class="utility-tag">Mental Health Needs</small>
		
			<small class="utility-tag">Brain Injuries</small>
		
			<small class="utility-tag">Parkinson's</small>
		
			<small class="utility-tag">Physical Disabilities</small>
		
			<small class="utility-tag">Sensory Impairment</small>
		
			<small class="utility-tag">Terminal Illness</small>
		
			<small class="utility-tag">Substance Abuse</small>
		
			<small class="utility-tag">Special Needs</small>
		
			<small class="utility-tag">Premature Infants</small>
		
			<small class="utility-tag">Hospitalized Patients</small>
		
			<small class="utility-tag">Wellness Needs</small>
		
	</div>
</section>

<section class="utility-backgroundDark utility-padTop">
	<div class="layout-row">
		<div class="layout-grid layout-mc12 layout-md3 layout-lg3 utility-textCenter utility-marBot">
			<img class="utility-image200" src="/assets/Amber-Colliver-Music-Therapist.jpg" alt="Amber Colliver Music Therapist">
		</div>
		<div class="layout-grid layout-mc12 layout-md9 layout-lg9 utility-textLight utility-marBot">
			<h2 class="utility-marNone">Amber Colliver</h2>
			<small class="utility-marBotHalf utility-block">MM, MT-BC, NICU-MT</small>
			<p>
				Amber Colliver is the owner of Wellness Music Therapy Center, LLC. She is a board-certified music therapist who holds a bachelor’s degree in music therapy from the University of Louisville and a master’s degree in music therapy from the University of Kentucky. She has additional certification in Neonatal Intensive Care Music Therapy (NICU-MT). Amber completed her internship training at UK HealthCare in Lexington, KY, providing medical music therapy in multiple areas throughout the hospital. She also has experience working with children and adolescents with special needs. Amber is passionate about expanding music therapy services in Lexington, Kentucky and making music therapy resources available to the community.
			</p>
		</div>
	</div>
</section>
		</div>

		<footer class="utility-backgroundPrimary utility-padVert utility-textCenter">
	<img src="/assets/Wellness-Music-Therapy-Center-Logo.png" alt="Wellness Music Therapy Center Logo">
	<small class="utility-block utility-textCenter">&copy; 
<small id="year"></small>
	 Wellness Music Therapy Center, LLC</small>
</footer>

<script>
document.getElementById("year").innerHTML = new Date().getFullYear();

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62181844-1', 'auto');
  ga('send', 'pageview');

</script>

	</body>
</html>
